@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Lobster&family=Montserrat:wght@600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=PT+Sans+Narrow&family=Playfair+Display:wght@400;500;600;700&family=Roboto&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Fasthand&family=Lobster&family=Montserrat:wght@600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=PT+Sans+Narrow&family=Playfair+Display:wght@400;500;600;700&family=Roboto&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: 'Raleway' sans-serif;
}

.custom-img{
  background-image: url('https://images.pexels.com/photos/3688262/pexels-photo-3688262.jpeg');
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.we-specialize-in {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.specialize-item {
  display: inline-block;
  margin-left: 0.5rem;
  opacity: 0;
  font-size: 2rem;
  font-weight: bold;
  animation: fade 3s ease-in-out infinite;
  white-space: nowrap; /* Prevent line breaks */
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 80%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(233, 122, 11), #F2C)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 80%
}

.logo-image {
  width: 48%;
  height: 88%;
  padding: 8px;
}

@media (max-width: 768px) {
  .logo-image {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .logo-image {
    width: 140px;
    height: 60px;
  }
}

.bg-img{
  background-image: url('https://c1.wallpaperflare.com/preview/685/925/158/hydraulic-hydraulic-drive-working-machine-construction-machine.jpg');
}

@media (max-width: 480px) {
  .bg-img {
    width: 100%;
    height: 300px;
  }
}


.vertical-line {
  width: 4px;
  height: 100px;
  background-color: #ffffff;
}

@media (max-width: 480px) {
  .vertical-line {
    width: 150px;
    height: 4px;
  }
}

.contact{
  min-height: 100%;
  width: 100%;
  /* background-color: aqua; */
  font-family: 'Montserrat', sans-serif;
}
.heading{
  margin: 0 auto;
  font-size: 55px;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;   
  padding: 20px 0;
  /* background-color: beige; */
  padding: 0;
}
.line{    
  height: 10px;
  width: 7%;
  background-color: #EDCD1F;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 9px;
}
.map{
  height: 380px;
  width: 65%;
  /* background-color: bisque; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
iframe{
  height: 100%;
  width: 100%;
}
.details{
  min-height: 400px;
  width: 65%;
  /* background-color: blanchedalmond; */
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: #0a0342;
}
.left{
  height: 100%;
  width: 50%;

}
h3{
  font-size: 25px;
  margin-bottom: 20px;
} 
.left p{
  font-size: 18px;
  margin-bottom: 40px;
  width: 80%;
}
label{
  font-size: 18px;   
}
input{
  margin-top: 10px;
  width: 80%;
  height: 30px;
  background-color: #F7F7F7;
  border: 1px solid #0a0342;
}
input:hover{
  background-color: #C6C6C6;

}
.right{
  height: 100%;
  width: 50%;
  padding: 0 30px;
  
}
form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
textarea{
  width: 80%;
  background-color: #F7F7F7;
  border: 1px solid #0a0342;
  

}
textarea:hover{
  background-color: #C6C6C6;

}
.right p{
  font-size: 18px;
  width: 80%;

}
.headoffice{
  margin-bottom: 90px;
}
.line1{
  margin-top: 140px;
  height: 10px;
  width: 15%;
  background-color: #EDCD1F;
}
.getquote{
  margin-top: 30px;
}
.submit{
  background-color: #0a0342;
  width: fit-content;
  color: #EDCD1F;
  margin-top: 10px;
  padding: 10px 50px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 50%;
  margin-bottom: 10px;
}


@media screen and (max-width: 1200px){

  .heading{
      font-size: 55px;
  }
  .line{
      width: 12%;
  }
  .map{
      margin-left: 5%;
     
      width: 90% ;
  }
  .details{
      display: flex;
      flex-direction: column;
  }
  .left{
      width: 100%;
      margin-bottom: 50px;
  }
  input{
      width: 100%;
  }
  textarea{
      width: 100%;
  }
  .right{
      width: 100%;
      padding-left: 0;
  }
  .submit{
      margin-left: 75.5%;
      margin-bottom: 4px;
  }

}

@media screen and (max-width: 500px){

  .heading{
      font-size: 45px;
  }
  .line{
      width: 25%;
  }
  .map{
      margin-left: 5%;
      margin-right: 5%;
      margin-right: 0;
      width: 90% ;
  }
  .details{
      display: flex;
      flex-direction: column;
  }
  .left{
      width: 100%;
      margin-bottom: 50px;
  }
  input{
      width: 100%;
  }
  textarea{
      width: 100%;
  }
  .right{
      width: 100%;
      padding-left: 0;
  }
  .submit {
    margin-left: 35%;
  }

}

